<% include ./partials/header %>
<body>
<h1 class="homepage">Primetime TV Series</h1>
<nav class="webpage-nav">
<h1 class="webpage"><a href="/genres">GENRES</a></h1>
<h1 class="webpage"><a href="/networks">NETWORKS</a></h1>
<h1 class="webpage"><a href="/series">SERIES</a></h1>
<h1 class="webpage"><a href="/series/new">NEW SHOW</a></h1>
</nav>

<button class="info">Five Random Shows</button>
<% include ./partials/footer.ejs %>
